.experience-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arsenal', 'sans-serif';
    color: var(--navy);
    height: 80vh;
}

.job-panel {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.job-panel hr {
    width: 100%;
    border-top: 1.5px solid var(--navy);
}

.job-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.job-info h3 {
    font-weight: normal;
}

.job-panel button {
    border-style: none;
    background-color: var(--navy);
    color: var(--blush);
    font-family: 'Arsenal', 'sans-serif';
    width: 125px;
    height: 50px;
    font-size: large;
    cursor: pointer;
    align-self: center;
}

.show-more-active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.show-more-active ul {
    margin-top: 0;
    margin-left: 55px;
}

.show-more-active li {
    font-size: medium;
    padding: 10px 0;
}

.footer-container {
    position: sticky;
    bottom: 0;
}
