@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --navy: #212D45;
    --blush: #EADCDA;
    --dusty: #bb8585;
    --berry: #A55361;
}

body {
    background-color: var(--blush);
    margin: 0;
}

.home-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-container {
    position: sticky;
    top: 0;
}

h1 {
    color: var(--navy);
    font-family: 'Philosopher', 'sans-serif';
    font-size: 30px;
    margin: 30px 0;
}

.home-content {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.home-page img {
    float: left;
    max-width: 15vw;
    max-height: 15vw;
}

.home-content p {
    margin: 0 0 20px;
    padding: 0;
    font-size: large;
    line-height: 30px;
    color: var(--navy);
    font-family: 'Arsenal', 'sans-serif';
}

.home-list-container {
    margin: 20px 0;
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
}

.home-list {
    color: var(--navy);
}

.home-list h2 {
    font-family: 'Philosopher', 'sans-serif';
}

.home-list h3, .home-list ul {
    font-family: 'Arsenal', 'sans-serif';
}

.home-list h3 {
    font-weight: normal;
}

.home-list ul {
    list-style: square;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    height: 15vh;
    justify-content: space-around;
    margin-bottom: 20px;
}

.buttons a {
    text-decoration: none;
}

/* .footer-container {
    position: sticky;
    bottom: 0;
} */