.projects-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Arsenal', 'sans-serif';
    color: var(--navy);
    /* height: 80vh; */
    overflow: scroll;
}

.projects-wrapper h2 {
    margin: 10px 0;
}

.project {
    display: flex;
    flex-direction: column;
}

.project p {
    padding: 0;
    margin: 15px 0;
}

.project a {
    color: var(--berry);
    text-decoration: none;
    font-weight: bold;
}

.project a:hover {
    text-decoration: underline;
}

.spotlights {
    width: 80vw;
    overflow: scroll;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.spotlights .media-player {
    border: none;

    
}

.screenshots {
    width: 60vw;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 30px;
}

.screenshots img {

}

@media only screen and (max-width: 906px) {

    .project h2, .project p {
        margin-left: 40px;
    }

    .spotlights {
        flex-direction: column;
        width: 50vw;
        align-items: center;
        align-self: center;
    }

    .spotlights .media-player {
        margin-bottom: 15px;
    }
}