.custom-button {
    background-color: var(--dusty);
    color: var(--navy);
    border: none;
    border-radius: 5px;
    font-family: 'Philosopher', 'sans-serif';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 10px 20px;
}

.custom-button:hover {
    color: var(--dusty);
    background-color: var(--navy);
    cursor: pointer;
}