.footer {
    width: 100vw;
    background-color: var(--navy);
    color: var(--dusty);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Philosopher', 'sans-serif';
    height: 8vh;
}

.footer-left, .footer-right {
    padding: 5px 60px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-top {
    display: none;
}

.footer-right {
    align-items: flex-end;
}

.footer p {
    margin: 5px 0;
}

.footer h2 {
    margin: 0;
    padding: 20px 0;
    color: var(--blush);
}

@media only screen and (max-width: 906px) {
    .footer {
        flex-direction: column;
        height: auto;
    }

    .footer-left {
        display: none;
    }

    .footer-top {
        padding: 5px 60px;
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-right {
        align-items: center;
        margin-bottom: 20px;
    }
}