nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    background-color: var(--navy);
    font-family: 'Philosopher', sans-serif;
    position: sticky;
}

nav ul {
    list-style: none;
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    font-size: larger;
    padding: 0;
}

nav ul a {
    text-decoration: none;
    color: var(--dusty);
}

nav ul a:hover {
    text-decoration: underline;
    color: var(--blush);
}

nav .logo {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav .logo h2 {
    color: var(--dusty);
    margin: 0;
    padding-bottom: 10px;
    font-size: xx-large;
}

nav .logo h3 {
    color: var(--blush);
    margin: 0;
    font-size: larger;
}